{{=<% %>=}}
{:source-paths ["test" "src" "env/dev"]
 :dependencies [<%#clj-deps%>[<%name%> "<%version%>"<%#exclusions?%> :exclusions [<%#exclusions%>[<%name%>]<%^last%>
                                              <%/last%><%/exclusions%>]<%/exclusions?%>]<%^last%>
                <%/last%><%/clj-deps%>]
 :builds {:app {:output-to  "target/main.js"
                :output-dir "target/js/compiled/prod"
                :target     :node-script
                :devtools   {:after-load       <%main-ns%>.app/reload!}
                :dev        {:main             <%main-ns%>.app/main!
                             :output-to        "target/js/compiled/<%raw-name%>.js"
                             :output-dir       "target/js/compiled/dev"}
                :release    {:main             <%main-ns%>.main/main!
                             :compiler-options {:optimizations :simple}}}
          :test {:output-to "target/test.js"
                 :output-dir "target/js/compiled/test"
                 :target :node-test
                 :ns-regexp "-test$"
                 :autorun true}}}
<%={{ }}=%>
