{{=<% %>=}}
^{:watch-dirs ["src"]}
{:main <%main-ns%>.core
 :output-to            "target/main.js"
 :output-dir           "target/js/compiled/prod"
 :target               :nodejs
 :optimizations        :simple
 :source-map           false
 :source-map-timestamp false
 :npm-deps             {<%#cljs-deps.common%>:<%name%> "<%version%>"<%^last%>
                        <%/last%><%/cljs-deps.common%>}
 :install-deps         true}
<%={{ }}=%>
