{{=<% %>=}}
^{:watch-dirs ["src" "test"]
  :launch-node true
  :inspect-node false}
{:main <%main-ns%>.test-runner
 :asset-path           "target/js/compiled/test"
 :output-to            "target/test.js"
 :output-dir           "target/js/compiled/test"
 :target               :nodejs
 :optimizations        :none
 :source-map false
 :source-map-timestamp true}
<%={{ }}=%>
